meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no")
meta(name="description" content="Kido Yoji's portfolio | きどようじのポートフォリオ")
meta(name="keywords" content="kido yoji,kidoyoji,きどようじ,kido,yoji")

meta(property="og:title" content=OG_TITLE)
meta(property="og:description" content=OG_DESCRIPTION)
meta(property="og:image" content=OG_IMAGE)

meta(property="og:type" content="website")
meta(property="og:url" content=CURRENT_URL)
meta(property="og:site_name" content="Kido Yoji")

meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:site" content="@kido_yoji")
meta(property="twitter:creator" content="@kido_yoji")
meta(property="twitter:title" content=OG_TITLE)
meta(property="twitter:description" content=OG_DESCRIPTION)
meta(property="twitter:image" content=OG_IMAGE)
